site_name: Neurocat
repo_name: yusaiwen/neurocat
repo_url: https://github.com/yusaiwen/neurocat
edit_uri: blob/master/docs
copyright: 'Copyright &copy; Saiwen Yu♥ 2025-present'
theme:
  name: readthedocs
  language: en
  icon:
    repo: fontawesome/brands/github-alt
    logo: material/cat
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - content.action.edit
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky

plugins:
  # Enable for bug reports
  # info: {}
  # Built-in
  search: {}
  # Extra
  glightbox: {}
  minify:
    minify_html: true
  git-revision-date-localized:
    type: date
    strict: false
    # Required for blog plugin's generated indices
    fallback_to_build_date: true
    exclude:
      - blog/**/*
  mike:
    alias_type: copy
  mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths:
          - src
        options:
          # Headings
          show_root_heading: true
          show_root_full_path: false
          # Docstrings
          docstring_style: google
          show_if_no_docstring: true
          show_source: false
          show_root_heading: true
          # Signatures/annotations
          show_signature_annotations: true
          # Other
          show_bases: false
          docstring_options:
              enable_jinja: true
          # 全局合并 __init__
          merge_init_into_class: true
          # 全局过滤规则
          filters:
            - "!^_[^_]"
            
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

extra_css:
  - 'extra/terminal.css'
  - 'extra/tweaks.css'
extra_javascript:
  - "https://cdn.jsdelivr.net/npm/algoliasearch@5.20.0/dist/lite/builds/browser.umd.js"
  - "https://cdn.jsdelivr.net/npm/instantsearch.js@4.77.3/dist/instantsearch.production.min.js"
  - 'extra/algolia.js'
  - 'extra/feedback.js'
  - 'extra/fluff.js'
  - 'extra/mathjax.js'
  - 'https://samuelcolvin.github.io/mkdocs-run-code/run_code_main.js'
  - 'https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js'

nav:
  - Home:
    - About: index.md
    # - Walkthrough:
    #   #- Installation: install.md
  - API Reference:
      - Plotting: api/plotting.md
      - IO: api/io.md
      - Transfer: api/transfer.md
      - Util: api/util.md
      - Color: api/color.md
  
markdown_extensions:
  # Built-in
  - markdown.extensions.abbr:
  - markdown.extensions.admonition:
  - markdown.extensions.attr_list:
  - markdown.extensions.footnotes:
  - markdown.extensions.md_in_html:
  - markdown.extensions.meta:
  - markdown.extensions.tables:
  - markdown.extensions.toc:
      permalink: true
  # Extra
  - mkdocs-click:
  - pymdownx.arithmatex:
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret:
  - pymdownx.critic:
  - pymdownx.details:
  - pymdownx.emoji:
      # https://github.com/twitter/twemoji
      # https://raw.githubusercontent.com/facelessuser/pymdown-extensions/master/pymdownx/twemoji_db.py
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.inlinehilite:
  - pymdownx.keys:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shortener: true
      social_url_shorthand: true
      normalize_issue_symbols: true
      provider: github
      user: yusaiwen
      repo: neurocat
  - pymdownx.mark:
  - pymdownx.progressbar:
  - pymdownx.saneheaders:
  - pymdownx.smartsymbols:
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - docs/.snippets
      auto_append:
        - links.txt
        - abbrs.txt
  - pymdownx.superfences:
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde:

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/yusaiwen
    - icon: fontawesome/solid/blog
      link: https://yusaisai.top
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/yuzaiwen
    # - icon: fontawesome/brands/linkedin
    #   link: https://www.linkedin.com/in/ofeklev/
extra_css:
  - assets/css/custom.css
  - https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css